.SensedWholeWrap{
    background-color: #151515;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display  : flex ;
        margin : auto;
        justify-content: center;

    .SensedWrapper{
        // max-width: 1280px;
        // width : 100%;
        min-width: 1280px;
        width: 1280px;
        padding : 0 15px;
        height : 1080px; 
        display : flex;
        justify-content: center;
        flex-direction: column;
        
    }
    .SensedContainer{
           
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .SensedBox{
        display: flex;        
        align-items: center;
        justify-content: space-between;
    }
    .SensedImgBox{
        >img {
            
            width: 100%;
            height : auto;
        }
    }
    .SensedTextBox{
        text-align: left;
        height : 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .SensedName{
        font-size: 10px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: right;
        color: #777777;
        margin-bottom : 25px;

        ;
    }
    .SensedTitleTextBox{

    }
    .SensedNumber{
        margin-bottom : 10px;
        font-size: 10px;
        font-weight: 600;
        color : #ffffff
    }
    .SensedTitle{
        font-size: 24px;
        font-weight: 800;
        margin-bottom : 8px;
        color : #ffffff
    }
    .SensedLet{
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #777777;
        margin-bottom : 20px;
    }
    .SensedYear{
        font-size: 10px;
        font-size: 10px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #777777;
        
        >span{
            width : 100%;
            max-width : 28px;
            margin-right : 8px;
            font-size: 10px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.8;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
    }
    .SensedForm{
        
        font-size: 10px;
        font-weight: 300;
        font-stretch: normal;
            font-style: normal;
            line-height: 1.8;
        letter-spacing: normal;
        text-align: left;
        color: #777777;
        margin-bottom : 40px;
        span{
            width : 100%;
            max-width : 28px;
            margin-right : 8px;
            font-size: 10px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.8;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
    }
    .SensedSummary{
        font-size: 10px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        margin-bottom : 9px;
        
    }
    .SensedSummaryText{
        max-width: 280px;
        height: 233px;
        font-size: 10px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #777777;
    }

    ///////////////////////
    .FooterBox{
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .FooterTitle{
            font-size: 10px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #777777;
        }
        .FooterCategoryTitle{
            font-size: 10px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: right;
            color: #777777;
        }
    }
}



@media screen and (max-width : 500px){
    .SensedWholeWrap{
        background-color: #151515;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display  : flex ;
            margin : auto;
            justify-content: center;
    
        .SensedWrapper{
            // max-width: 1280px;
            // width : 100%;
            min-width: initial;
            width: 100%;
            padding : 30px 20px;
            height : initial;
            min-height : 100vh; 
            display : flex;
            justify-content: center;
            flex-direction: column;
            
        }
        .SensedContainer{
               
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .SensedBox{
            display: flex;        
            align-items: center;
            justify-content: space-between;
        }
        .SensedImgBox{
            >img {
                
                width: 100%;
                height : auto;
            }
        }
        .SensedTextBox{
            text-align: left;
            height : 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .SensedName{
            display : none;
            font-size: 10px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: right;
            color: #777777;
            margin-bottom : 25px;
    
            ;
        }
        .SensedTitleTextBox{
    
        }
        .SensedNumber{
            margin-bottom : 10px;
            font-size: 10px;
            font-weight: 600;
            color : #ffffff
        }
        .SensedTitle{
            font-size: 24px;
            font-weight: 800;
            margin-bottom : 8px;
            color : #ffffff
        }
        .SensedLet{
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #777777;
            margin-bottom : 20px;
        }
        .SensedYear{
            font-size: 10px;
            font-size: 10px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #777777;
            
            >span{
                width : 100%;
                max-width : 28px;
                margin-right : 8px;
                font-size: 10px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.8;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
            }
        }
        .SensedForm{
            
            font-size: 10px;
            font-weight: 300;
            font-stretch: normal;
                font-style: normal;
                line-height: 1.8;
            letter-spacing: normal;
            text-align: left;
            color: #777777;
            margin-bottom : 40px;
            span{
                width : 100%;
                max-width : 28px;
                margin-right : 8px;
                font-size: 10px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.8;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
            }
        }
        .SensedSummary{
            font-size: 11px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            margin-bottom : 9px;
            
        }
        .SensedSummaryText{
            max-width: initial;
            height: initial;
            font-size: 11px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #777777;
            
            margin-bottom : 30px;
        }
    
        ///////////////////////
        .FooterBox{
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .FooterTitle{
                font-size: 10px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                color: #777777;
            }
            .FooterCategoryTitle{
                font-size: 10px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: right;
                color: #777777;
            }
        }
    }
}