.SixContainer{
    display : flex;
    justify-content: center;
    background-color: #151515;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    .SixBox{
        // max-width: 1280px;
        // width : 100%;
        width: 1280px;
        min-width: 1280px;
        padding : 0 15px;
        height : 1080px;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        .TopNumNameBox{
            display: flex;
            justify-content: space-between;
            .TopNum{
                font-size: 10px;
                font-weight: 600;
            }
            .TopName{
                font-size: 10px;
                color:#777777;
            }
        }
        .ContantsBox{
            display: flex;
            margin-bottom: 30px;
            width: 100%;
            justify-content: space-between;
        }
        .TitleBox{
            .Title{
                font-size: 24px;
                font-weight: 600;
            }
            .SubTitle{
                color: #777777;
                margin-bottom: 30px;
            }
        }
        .YearBox{
            display: flex;
            .Year{
                font-size: 10px;
                margin-right: 13px;
            }
            .Year2{
                font-size: 10px;
                color: #777777;
            }
        }
        .FormBox{
            display: flex;
            margin-bottom: 50px;
            .Form{
                font-size: 10px;
                margin-right: 10px;
            }
            .Form2{
                font-size: 10px;
                color: #777777;
            }
        }
        .BottomBox{
            display: flex;
            justify-content: space-between;
        }
    }
    .Contants1{
        margin-right: 30px;
        .ContantsImgBox1{
            .ContantsImgText1{
                font-size: 10px;
                color: #777777;
            }
        }
    }
    .Contants2{
        margin-right: 33px;
        .ContantsImgBox2{
            .ContantsImgText2{
                font-size: 10px;
                color: #777777;
            }
        }
    }
    .Contants3{
        text-align: right;
        .ContantsTitle{
            font-size: 10px;
        }
        .ContantsText{
            font-size: 10px;
            color:#777777;
        }
    }
    .BottomBox{
        color: #777777;
           font-size: 10px;
    }

}


@media screen and (max-width : 500px){
    .SixContainer{
        display : flex;
        justify-content: center;
        background-color: #151515;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #ffffff;
        .SixBox{
            // max-width: 1280px;
            // width : 100%;
            width: 100%;
            min-width: initial;
            padding : 30px 20px;
            height : initial;
            min-height : 100vh;    
            display: flex;
            flex-direction: column;
            justify-content: center;
            .TopNumNameBox{
                display: flex;
                justify-content: space-between;
                .TopNum{
                    font-size: 10px;
                    font-weight: 600;
                }
                .TopName{
                    font-size: 10px;
                    color:#777777;
                }
            }
            .ContantsBox{
                img{
                    width : 100%;
                }
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                width: 100%;
                justify-content: space-between;
            }
            .TitleBox{
                .Title{
                    font-size: 24px;
                    font-weight: 600;
                }
                .SubTitle{
                    color: #777777;
                    margin-bottom: 30px;
                }
            }
            .YearBox{
                display: flex;
                .Year{
                    font-size: 10px;
                    margin-right: 13px;
                }
                .Year2{
                    font-size: 10px;
                    color: #777777;
                }
            }
            .FormBox{
                display: flex;
                margin-bottom: 50px;
                .Form{
                    font-size: 10px;
                    margin-right: 10px;
                }
                .Form2{
                    font-size: 10px;
                    color: #777777;
                }
            }
            .BottomBox{
                display: flex;
                justify-content: space-between;
            }
        }
        .Contants1{
            margin-right: initial;
            .ContantsImgBox1{
                .ContantsImgText1{
                    font-size: 10px;
                    color: #777777;
                }
            }
        }
        .Contants2{
            margin-right: initial;
            .ContantsImgBox2{
                .ContantsImgText2{
                    font-size: 10px;
                    color: #777777;
                }
            }
        }
        .Contants3{
            margin-top : 15px;
            text-align: left;
            .ContantsTitle{
                font-size: 11px;
                margin-bottom : 15px;
            }
            .ContantsText{
                font-size: 11px;
                color:#777777;
                br{
                    
                }
            }
        }
        .BottomBox{
            color: #777777;
               font-size: 10px;
        }
    
    }
}
